html, body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}
#header{
  background-image: url("http://image.noelshack.com/fichiers/2015/10/1425506337-creation-spawn4-200.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
#header h1{
  margin-top: 15%;
  font-size: 70px;
  text-transform: uppercase;
}
#header p{
  font-size: 35px;
}
a{
  text-decoration: none;
  color: #2969d1;
}
a:hover{
  color: #1d54ad;
  text-decoration: underline;
}
section{
  min-height: 100%;
}
nav a{
  text-decoration: none;
}
nav li{
  list-style: none;
  float: left;
  padding-left: 25px;
}
nav{
  padding-top: 1%;
  padding-bottom: 3%;
  background-color: #333333;
}
nav a:hover{
  opacity: 0.5;
}
nav a{
  color: white;
  font-size: 20px;
  padding-left: 90%;
}
nav a:hover{
  text-decoration: none;
  color: #565656;
}
nav img{
  margin-top: -3%;
}
hr{
  width: 60px;
  height: 5px;
  background-color: #333333;
  border: 0;
}
#team h1{
  font-size: 40px;
  color: #333333;
}
#news h1{
  font-size: 40px;
  color: #333333;
}
.teamrow img{
  padding-right: 100px;
}
.teamrow img:last-child{
  padding-right: 0px;
}
figure {
  float: left;
  max-width: 310px;
  padding-left: 9%;
  text-align: center;
}
figcaption {
  padding: .5em;
}
#team{
  background-color: #333333;
  color: white;
}
#team h1{
  color: white;
}
#team hr{
  background-color: white;
}
.heaerbtn{
  padding: 20px;
  background-color: #333333;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 35px;
  color: white;
  font-size: 20px;
}
.heaerbtn:hover{
  background-color: white;
  border: 2px solid #333333;
  opacity: 0.7;
  color: black;
  text-decoration: none;
}
.btn{
  padding: 20px;
  background-color: #333333;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 35px;
  color: white;
}
.btn:hover{
  background-color: white;
  border: 2px solid #333333;
  opacity: 0.7;
  color: black;
  text-decoration: none;
}
footer{
  padding: 20px;
  font-size: 20px;
}
